@page
@using PokemonTCGTrades.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section head {
    <link rel="stylesheet" href="~/css/index.css" />
}

<div class="text-center">
    <h1 class="display-4">Local Pok&eacute;mon card trading</h1>
</div>

@if (@Model.Member != null) {
    <h3>Welcome back, @Model.Member.MemberName @Model.Member.Id</h3>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Listings[0].Member.MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Listings[0].CardID)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Listings[0].Condition)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Listings[0].IsWanted)
            </th>
        </tr>
    </thead>
    @foreach (var item in Model.Listings)
    {
        <tr>
            <td>@Html.DisplayFor(i => item.Member.MemberName)</td>
            <td>@Html.DisplayFor(i => item.CardID)</td>
            <td>@Html.DisplayFor(i => item.Condition)</td>
            <td>@Html.DisplayFor(i => item.IsWanted)</td>
        </tr>
    }
</table>
} else {
    <h3>Welcome, friend</h3>
}