@page
@using PokemonTCGTrades.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section head {
    <link rel="stylesheet" href="~/css/index.css" />
}

<div class="text-center">
    <h1 class="display-4">Local Pok&eacute;mon card trading</h1>

    <img src="~/images/bg.JPG" alt="" />
</div>

@if (@Model.Member != null) {
    <h3>Welcome back, @Model.Member.MemberName</h3>

    <h4>Cards you want</h4>
    if(@Model.WantList.Count > 0) {
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Listings[0].Member.MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Listings[0].CardID)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Listings[0].Condition)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Listings[0].Description)
            </th>
                  <th>
                @Html.DisplayNameFor(m => m.Listings[0].OnHold)
            </th>
        </tr>
    </thead>
    @foreach (var item in Model.WantList)
    {
        <tr>
            <td>@Html.DisplayFor(i => item.Member.MemberName)</td>
            <td>@Html.DisplayFor(i => item.CardID)</td>
            <td>@Html.DisplayFor(i => item.Condition)</td>
            <td>@Html.DisplayFor(i => item.Description)</td>
            <td>@Html.DisplayFor(i => item.OnHold)</td>
        </tr>

    }
</table>
    } else {
        <p>You have nothing in your want list.</p>
    }
    <hr />
    <h4>Cards you are offering</h4>
    if(@Model.OfferList.Count > 0) {
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Listings[0].Member.MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Listings[0].CardID)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Listings[0].Condition)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Listings[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Listings[0].OnHold)
            </th>
             </tr>
    </thead>
    @foreach (var item in Model.OfferList)
    {
        <tr>
            <td>@Html.DisplayFor(i => item.Member.MemberName)</td>
            <td>@Html.DisplayFor(i => item.CardID)</td>
            <td>@Html.DisplayFor(i => item.Condition)</td>
            <td>@Html.DisplayFor(i => item.Description)</td>
            <td>@Html.DisplayFor(i => item.OnHold)</td>
        </tr>

    }
</table>
    } else {
        <p>You have nothing in your offer list.</p>
    }
} else {
    <h3>Welcome, friend. Register or login to begin.</h3>
}